*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;

}
.start h1 {
    font-size: 50px;
    font-family: cursive;
    color: black;
}

.start h3 {
    font-family: fantasy;
    color: gray;
}
.start form label{
    font-size: 40px;
    font-family: poppins;
    color: black;
}

.start form input {
   
    padding: 10px 180px;
    font-size: 20px;
  
}
 button{
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 60px;
    background-color: cornflowerblue;
    font-size: 25px;
 }


 .start{display: inline-block;
    padding: 12px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    align-items: center;
 }

 .list{
    display: flex;
    justify-content: space-evenly;

    padding: 200px 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
 }

 #from{
    
        background-color: aqua;
    

 }



 
